@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

body {
  text-align: center;
}

.chart,
.chart-data {
  width: 700px;
  background: white;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #eceded;
}

.data-form {
  padding: 8px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputs {
  display: flex;
}

input,
label,
button {
  margin-bottom: 8px;
}

.data-input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ededed;
}

img {
  display: none;
}

*:focus {
  border-radius: 0;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
}

button {
  width: 30%;
  padding: 8px 16px;
  border: 1px dashed #d4d4d4;
  color: #d4d4d4;
  background: none;
  border-radius: 3px;
}

svg {
  color: #b9baba;
  width: 600px;
  height: 300px;
  overflow: visible;
  padding: 16px 32px 32px;
  box-sizing: content-box;
}

.tooltip {
  color: #1d1531;
}

.blue {
  background: #6ad;
}

.orange {
  background: #f95;
}

.red {
  background: #e77;
}

.green {
  background: #6c7;
}

.grey {
  background: #aaa;
}

.colors li {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 2px;
}

.colors {
  margin: 0;
  padding: 0;
}
